<template>
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100"
    style="width: 280px"
  >
    <router-link to="/">
      <a
        href="#"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <i class="bi bi-car-front-fill p-2 fs-3 me-2 ms-2"></i>
        <span class="fs-4">Rent-a-car</span>
      </a>
    </router-link>
    <div v-if="logInData.isLoggedIn">
      <div v-if="currentUser.uloga == 'Kupac'" class="korpa">
        <router-link v-if="this.korpa > 0" to="/mojaKorpa"
          >Moja korpa <span v-if="this.korpa">-</span> {{ this.korpa }}
          <span v-if="this.korpa"> eur</span></router-link
        >
      </div>
    </div>
    <hr v-if="logInData.isLoggedIn" />
    <div class="dropdown ms-3" v-if="logInData.isLoggedIn">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="../assets/user.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong class="ms-2">{{ this.currentUser.ime }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow ms-5">
        <li>
          <router-link to="/profil"
            ><a class="dropdown-item" href="#">Moj profil</a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Kupac'">
          <router-link to="/mojePorudzbine"
            ><a class="dropdown-item" href="#">Moje porudzbine</a></router-link
          >
        </li>
        <li>
          <a class="dropdown-item" href="#" @click="logOut">Izloguj se</a>
        </li>
      </ul>
    </div>
    <hr v-if="!logInData.isLoggedIn" />
    <ul class="nav nav-pills flex-column mb-auto fs-5">
      <li v-if="!logInData.isLoggedIn">
        <router-link to="/registracija" class="nav-link">
          <a href="#" class="text-white">
            <i class="bi bi-r-square-fill"></i>
            Registruj se
          </a>
        </router-link>
      </li>
      <li v-if="!logInData.isLoggedIn">
        <router-link to="/prijava" class="nav-link">
          <a href="#" class="text-white">
            <i class="bi bi-key-fill"></i>
            Uloguj se
          </a>
        </router-link>
      </li>
      <hr class="spacer" />
      <li>
        <router-link to="/" class="nav-link" exact>
          <a href="#" class="text-white">
            <i class="bi bi-house-door-fill"></i>
            Pocetna
          </a></router-link
        >
      </li>
      <div v-if="currentUser">
        <li v-if="currentUser.uloga == 'Administrator'">
          <router-link to="/dodajObj" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-building"></i>
              Dodaj objekat
            </a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Administrator'">
          <router-link to="/dodajMen" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-person-fill-gear"></i>
              Dodaj menadzera
            </a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Menadzer'">
          <router-link to="/dodajVozilo" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-car-front-fill"></i>
              Dodaj Vozilo
            </a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Menadzer'">
          <router-link to="/izmenaVozila" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-car-front"></i>
              Izmena Vozila
            </a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Kupac'">
          <router-link to="/iznajmiVozilo" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-car-front"></i>
              Iznajmi vozilo
            </a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Menadzer'">
          <router-link to="/menPorudzbine" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-envelope"></i>
              Vidi Porudzbine
            </a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Menadzer'">
          <router-link to="/proveraKomentara" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-chat-dots"></i>
              Provera Komentara
            </a></router-link
          >
        </li>
        <li v-if="currentUser.uloga == 'Administrator'">
          <router-link to="/proveraKorisnika" class="nav-link" exact>
            <a href="#" class="text-white">
              <i class="bi bi-person-fill-gear"></i>
              Provera Korisnika
            </a></router-link
          >
        </li>
      </div>
    </ul>
  </div>
</template>
<script>
import { store } from "./store";
export default {
  data() {
    return {
      currentUser: {},
      korpa: 0,
    };
  },
  computed: {
    logInData: function () {
      return store.data;
    },
  },
  watch: {
    logInData: {
      handler(newVal) {
        this.currentUser = newVal.user;
        if (this.currentUser) {
          this.korpa = newVal.user.cenaKorpe;
        }
      },
      deep: true,
    },
  },
  methods: {
    logOut: function () {
      let newData = {
        isLoggedIn: false,
        data: {},
      };
      store.data = newData;
      localStorage.removeItem("user");
      this.$router.push("/prijava");
    },
  },
};
</script>
<style scoped>
a {
  text-decoration: none;
}

hr.spacer {
  margin-bottom: 1em;
}
div.korpa a {
  color: white;
  margin-left: 1.1em;
}
div.korpa a:hover {
  color: lightblue;
}
</style>
