<template>
  <div class="wrapper">
    <div class="content">
      <app-sidebar></app-sidebar>
      <router-view></router-view>
    </div>
    <tostini-plate transition-name="fade" />
  </div>
</template>

<script>
// Imports
import Sidebar from "./components/Sidebar.vue";
import { store } from "./components/store";
export default {
  components: {
    "app-sidebar": Sidebar,
  },
  data() {
    return {};
  },
  async created() {
    let strUser = localStorage.getItem("user");
    if (strUser) {
      let jsonUser = JSON.parse(strUser);
      let request = await fetch("http://localhost:3000/login", {
        method: "POST",
        body: JSON.stringify({
          korisnickoIme: jsonUser.korisnickoIme,
          lozinka: jsonUser.lozinka,
        }),
      });
      let response = await request.json();
      if (response.msg == "SUCCESS") {
        if (response.data.blokiran) {
          store.data.user = null
          store.isLoggedIn = false
          this.$router.push("/prijava");
          this.$tostini({
            message: "Vas nalog je blokiran",
            type: "error",
            duration: 3000,
          });
        }
        store.data.user = response.data;
        store.data.isLoggedIn = true;
      }
    }
  },
  methods: {},
};
</script>

<style>
html,
body {
  margin: 0;
  height: 100%;
}
div.wrapper {
  height: 100%;
}
div.content {
  display: grid;
  grid-template-columns: 280px auto;
  height: 100%;
}
.tostini-plate {
  position: fixed;
  top: 0;
  right: 0em;
  width: 100%;
  height: auto !important;
  display: flex;
  justify-content: flex-end;
}
.tostini-plate .tostini {
  padding: 0.75rem;
  width: calc(100vw - 3.5rem);
  max-width: 20rem;
  margin: 1em;
  border-radius: 0.5em;
  color: white;
}
.tostini-plate .tostini[data-type="default"] {
  background: rgba(0, 0, 0, 0.5);
}
.tostini-plate .tostini[data-type="success"] {
  background: rgba(45, 148, 27, 0.95);
}
.tostini-plate .tostini[data-type="error"] {
  background: rgba(148, 27, 27, 0.95);
}
.tostini-plate .tostini[data-type="warning"] {
  background: rgba(216, 143, 9, 0.95);
}
.tostini-plate .tostini[data-type="info"] {
  background: rgba(0, 147, 204, 0.95);
}
</style>
