<template>
  <div class="homeWrapper">
    <form autocomplete="off">
      <i class="bi bi-car-front-fill p-2 fs-1 me-2 ms-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Dodaj Objekat</h1>
      <input
        v-model="naziv"
        type="text"
        id="inputText"
        class="form-control"
        placeholder="Naziv"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': false }"
      />
      <label for="pocetakVremena">Pocetak radnog vremena</label>
      <input
        v-bind:class="{ 'is-invalid': false }"
        autocomplete="off"
        required=""
        placeholder="Radno Vreme"
        v-model="pocetakVremena"
        type="time"
        name="pocetakVremena"
        class="form-control"
      />
      <label for="krajVremena">Kraj radnog vremena</label>
      <input
        v-bind:class="{ 'is-invalid': false }"
        autocomplete="off"
        required=""
        v-model="krajVremena"
        type="time"
        name="krajVremena"
        class="form-control"
      />
      <label v-if="menadzeri.length > 0">Odaberi menadzera</label>
      <select
        class="form-select"
        v-model="odabranMenadzer"
        v-bind:class="{ 'is-invalid': false }"
        v-if="menadzeri.length > 0"
      >
        <option value="" selected>Odaberi Menadzera</option>
        <option v-bind:value="men" v-for="men in menadzeri" :key="men.ime">
          {{ men.ime }}
        </option>
      </select>
      <h4 v-if="menadzeri.length == 0">Trenutno nema slobodnih menadzera</h4>
      <router-link to="/dodajMen" v-if="menadzeri.length == 0">
      <button class="btn btn-primary" >Napravi novog menadzera</button>
      </router-link>
      <div class="mb-3">
        <label for="formFile" class="form-label">Logo</label>
        <input
          @change="onFileChange"
          class="form-control"
          type="file"
          id="formFile"
          v-bind:class="{ 'is-invalid': fileError }"
        />
      </div>
      <div ref="map-root" style="width: 400px; height: 400px"></div>
      <img
        style="width: 20px; height: 30px"
        src="../assets/marker.png"
        ref="marker"
        alt=""
      />
      <button
        class="btn btn-lg btn-primary btn-block"
        v-on:click.prevent="dodaj"
      >
        Dodaj
      </button>
      <p class="mt-4 mb-3 text-muted">© 2023</p>
    </form>
  </div>
</template>
<script>
import View from "ol/View";
import Map from "ol/Map";
import TileLayer from "ol/layer/Tile";
import OSM from "ol/source/OSM";
import VectorSource from "ol/source/Vector";
import VectorLayer from "ol/layer/Vector";
import Overlay from "ol/Overlay";
import { fromLonLat, toLonLat } from "ol/proj.js";

export default {
  props: {},
  data() {
    return {
      naziv: "",
      odabranMenadzer: "",
      menadzeri: [],
      krajVremena: "",
      pocetakVremena: "",
      logo: "",
      fileError: false,
      map: null,
      pos: null,
      marker: null,
    };
  },
  mounted() {
    this.pos = fromLonLat([19.8299039, 45.2412775]);
    this.marker = new Overlay({
      position: this.pos,
      positioning: "bottom-center",
      element: this.$refs["marker"],
      stopEvent: false,
    });

    this.map = new Map({
      target: this.$refs["map-root"],
      layers: [
        new TileLayer({
          source: new OSM(),
        }),
      ],

      overlays: [this.marker],

      view: new View({
        zoom: 13,
        center: this.pos,
        constrainResolution: true,
        minZoom: 1,
      }),
    });

    this.map.on("click", (evt) => {
      const coordinate = evt.coordinate;
      this.marker.setPosition(coordinate);
      this.pos = coordinate;
    });
  },

  methods: {
    dodaj: async function () {
      await fetch("http://localhost:3000/upload", {
        method: "POST",
        body: this.logo,
        headers: {
          filename: this.logo.name,
        },
      });
      let obj = {
        id: crypto.randomUUID(),
        naziv: this.naziv,
        radnoVreme: { pocetak: this.pocetakVremena, kraj: this.krajVremena },
        logo: "http://localhost:3000/assets/logos/" + this.logo.name,
        lokacija: toLonLat(this.pos),
        ocena: 0,
        odabranMenadzer: this.odabranMenadzer.id,
        vozilaUponudi:[]
      };
      console.log("poslato:", obj);
      let request = await fetch("http://localhost:3000/newObject", {
        method: "POST",
        body: JSON.stringify(obj),
      });
      let response = await request.json();
      console.log("primljeno:", response);
      if (response.msg == "SUCCESS") {
        this.$tostini({
          message: "Success!",
          type: "success",
          duration: 2000,
        });
        this.$router.push("/");
      } else {
        this.$tostini({
          message: "Error!",
          type: "error",
          duration: 2000,
        });
        this.$router.push("/");
      }
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.logo = files[0];
    },
  },
  async created() {
    let request = await fetch("http://localhost:3000/getFreeManagers", {
      method: "GET",
    });
    let data = await request.json();
    for (let i = 0; i < data.results.length; i++) {
      const element = data.results[i];
      this.menadzeri.push(element);
    }
    if (this.menadzeri.length > 0) {
          this.odabranMenadzer = this.menadzeri[0]

    }
  },
};
</script>
<style scoped>
@import url("../../node_modules/ol/ol.css");
div.homeWrapper {
  margin-left: 280px;
}
form input {
  width: 300px;
}
</style>
