<template>
  <div class="homeWrapper">
    <form class="form-signin" autocomplete="off">
      <i class="bi bi-car-front-fill p-2 fs-1 me-2 ms-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Dodaj vozilo</h1>
      <h1 class="h3 mb-3 font-weight-normal" v-if="oznacenObjekat">
        u objekat {{ oznacenObjekat.naziv }}
      </h1>
      <input
        v-model="marka"
        type="text"
        id="marka"
        class="form-control"
        placeholder="Marka"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': markaError }"
      />
      <input
        v-model="model"
        type="text"
        id="model"
        class="form-control"
        placeholder="Model"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': modelError }"
      />
      <input
        v-model="tip"
        type="text"
        id="tip"
        class="form-control"
        placeholder="Tip"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': tipError }"
      />
      <select
        class="form-select"
        v-model="vrsta"
        v-bind:class="{ 'is-invalid': vrstaError }"
      >
        <option value="" selected>Vrsta</option>
        <option value="Manuelni">Manuelni</option>
        <option value="Automatik">Automatik</option>
      </select>
      <select
        class="form-select"
        v-model="tipGoriva"
        v-bind:class="{ 'is-invalid': tipGorivaError }"
      >
        <option value="" selected>Tip Goriva</option>
        <option value="Dizel">Dizel</option>
        <option value="Benzin">Benzin</option>
        <option value="Hibrid">Hibrid</option>
        <option value="Elektricni">Elektricni</option>
      </select>
      <input
        v-model="potrosnja"
        type="text"
        id="potrosnja"
        class="form-control"
        placeholder="Potrosnja"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': potrosnjaError }"
      />
      <input
        v-model="brojVrata"
        type="number"
        id="brojVrata"
        class="form-control"
        placeholder="Broj Vrata"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': brojVrataError }"
      />
      <input
        v-model="brojOsoba"
        type="number"
        id="brojOsoba"
        class="form-control"
        placeholder="Broj osoba"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': brojOsobaError }"
      />
      <input
        v-model="opis"
        type="text"
        id="opis"
        class="form-control"
        placeholder="Opis"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': opisError }"
      />
                  <input
        v-model="cena"
        type="number"
        id="cena"
        class="form-control"
        placeholder="Cena u €"
        required=""
        autofocus=""
        autocomplete="off"
      />
      <div class="mb-3">
        <label for="formFile" class="form-label">Slika</label>
        <input
          @change="onFileChange"
          class="form-control"
          type="file"
          id="formFile"
          v-bind:class="{ 'is-invalid': fileError }"
        />
      </div>
      <button
        class="btn btn-lg btn-primary btn-block"
        v-on:click.prevent="dodaj"
      >
        Dodaj
      </button>
      <p class="mt-4 mb-3 text-muted">© 2023</p>
    </form>
    <ul id="example-1">
      <li v-for="item in errors" :key="item.message">
        {{ item.message }}
      </li>
    </ul>
  </div>
</template>
<script>
import { store } from "../components/store";
export default {
  props: {},
  data() {
    return {
      oznacenObjekat: null,
      marka: "",
      cena:'',
      markaError: "",
      model: "",
      modelError: "",
      tip: "",
      tipError: "",
      vrsta: "",
      vrstaError: "",
      tipGoriva: "",
      tipGorivaError: "",
      potrosnja: "",
      potrosnjaError: "",
      brojVrata: "",
      brojVrataError: "",
      brojOsoba: "",
      brojOsobaError: "",
      opis: "",
      opisError: "",
      carPic: "",
      fileError: "",
      errors: [],
    };
  },
  computed: {
    logInData: function () {
      return store.data;
    },
  },
  watch: {
    logInData: {
      async handler(newVal) {
        this.getCurrentObject();
      },
      deep: true,
    },
  },
  created: async function () {
    if (store.data.user.objekat) {
      this.getCurrentObject();
    }
  },
  methods: {
    async getCurrentObject() {
      let request = await fetch("http://localhost:3000/getObject", {
        method: "POST",
        body: JSON.stringify({ id: store.data.user.objekat }),
      });
      let data = await request.json();
      this.oznacenObjekat = data.data;
    },
    dodaj: async function () {
      await fetch("http://localhost:3000/upload", {
        method: "POST",
        body: this.carPic,
        headers: {
          filename: this.carPic.name,
        },
      });
      let obj = {
        id: crypto.randomUUID(),
        marka: this.marka,
        model: this.model,
        tip: this.tip,
        vrsta: this.vrsta,
        tipGoriva: this.tipGoriva,
        potrosnja: this.potrosnja,
        brojVrata: this.brojVrata,
        brojOsoba: this.brojOsoba,
        opis: this.opis,
        objekat: this.oznacenObjekat.id,
        datumiNajma:[],
        cena:this.cena,
        slika: "http://localhost:3000/assets/logos/" + this.carPic.name,
        status: 'Dostupno'
      };
      let request = await fetch("http://localhost:3000/dodajVozilo", {
        method: "POST",
        body: JSON.stringify(obj),
      });
      let response = await request.json();
      if (response.msg == "SUCCESS") {
        this.$tostini({
          message: "Success!",
          type: "success",
          duration: 2000,
        });
        this.$router.push("/");
      } else {
        this.$tostini({
          message: "Error!",
          type: "error",
          duration: 2000,
        });
        this.$router.push("/");
      }
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.carPic = files[0];
    },
  },
};
</script>
<style scoped>
div.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
button {
  width: 100%;
}
.form-signin .form-control:focus {
  z-index: 2;
  position: relative;
}
label.checkbox {
  cursor: pointer;
}
input.datepicker {
  width: 100%;
}
</style>
