<template>
  <div class="homeWrapper">
    <div class="vozila" v-if="vozila">
      <div
        v-for="item in vozila"
        v-bind:key="item.id"
        style="width: 18rem"
        class="card item"
      >
        <img class="card-img-top" v-bind:src="item.slika" />
        <div class="card-body">
          <div style="display: flex; justify-content: space-between">
            <h5 class="card-title">{{ item.marka + " " + item.model }}</h5>
          </div>
          <p class="card-text">Opis: {{ item.opis }}</p>
          <p class="card-text">Tip: {{ item.tip }}</p>
          <p class="card-text">Vrsta: {{ item.vrsta }}</p>
          <p class="card-text">Tip Goriva: {{ item.tipGoriva }}</p>
          <p class="card-text">Potrosnja: {{ item.potrosnja }}</p>
          <p class="card-text">Broj Vrata: {{ item.brojVrata }}</p>
          <p class="card-text">Broj Osoba: {{ item.brojOsoba }}</p>
          <p class="card-text">Cena: {{ item.cena }}</p>
          <div class="buttons">
            <router-link v-bind:to="'/izmeniVozilo/' + item.id">
              <a href="" class="btn btn-primary">Izmeni</a>
            </router-link>
            <a
              href=""
              class="btn btn-primary"
              v-on:click.prevent="obrisi(item.id)"
              >Obrisi</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { store } from "./../components/store";
export default {
  props: {},
  data() {
    return {
      vozila: [],
      objekat: {},
    };
  },
  methods: {
    async obrisi(id) {
      let request = await fetch("http://localhost:3000/obrisiVozilo", {
        method: "POST",
        body: JSON.stringify({ id: id, objekat: store.data.user.objekat }),
      });
      let data = await request.json();
      this.vozila = data.data;
      this.$tostini({
        message: "Obrisano!",
        type: "success",
        duration: 2000,
      });
    },
  },
  async created() {
    setTimeout(async () => {
      let request = await fetch("http://localhost:3000/getObject", {
        method: "POST",
        body: JSON.stringify({ id: store.data.user.objekat }),
      });
      let data = await request.json();
      this.objekat = data.data;
      let request2 = await fetch("http://localhost:3000/getVehicles", {
        method: "POST",
        body: JSON.stringify({ list: this.objekat.vozilaUponudi }),
      });
      let data2 = await request2.json();
      this.vozila = data2.data;
    }, 100);
  },
};
</script>
<style scoped>
@import url("../../node_modules/ol/ol.css");

div.vozila {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3em;
  gap: 1em;
}
p.card-text {
  margin-bottom: 0.5em;
}
</style>
