<template>
  <div class="homeWrapper">
    <form class="profile" v-if="vozilo">
      <h2>Marka:</h2>
      <input
        type="text"
        name=""
        class="form-control"
        v-model="vozilo.marka"
        id=""
      />
      <h2>Model:</h2>
      <input
        type="text"
        name=""
        class="form-control"
        v-model="vozilo.model"
        id=""
      />
      <h2>Tip:</h2>
      <input
        type="text"
        name=""
        class="form-control"
        v-model="vozilo.tip"
        id=""
      />
      <h2>Vrsta:</h2>
      <select
        class="form-select"
        v-model="vozilo.vrsta"
      >
        <option value="Manuelni">Manuelni</option>
        <option value="Automatik">Automatik</option>
      </select>
      <h2>tipGoriva:</h2>
      <select
        class="form-select"
        v-model="vozilo.tipGoriva"
      >
        <option value="Dizel">Dizel</option>
        <option value="Benzin">Benzin</option>
        <option value="Hibrid">Hibrid</option>
        <option value="Elektricni">Elektricni</option>
      </select>
      <h2>potrosnja:</h2>
      <input
        type="text"
        name=""
        class="form-control"
        v-model="vozilo.potrosnja"
        id=""
      />
      <h2>brojVrata:</h2>
      <input
        type="text"
        name=""
        class="form-control"
        v-model="vozilo.brojVrata"
        id=""
      />
      <h2>brojOsoba:</h2>
      <input
        type="text"
        name=""
        class="form-control"
        v-model="vozilo.brojOsoba"
        id=""
      />
      <h2>opis:</h2>
      <input
        type="text"
        name=""
        class="form-control"
        v-model="vozilo.opis"
        id=""
      />
      <h2>Cena:</h2>
      <input
        type="number"
        name=""
        class="form-control"
        v-model="vozilo.cena"
        id=""
      />
      <h2>Slika:</h2>
      <div class="mb-3">
        <label for="formFile" class="form-label">Slika</label>
        <input
          @change="onFileChange"
          class="form-control"
          type="file"
          id="formFile"
        />
      </div>
    </form>
    <button
      class="btn btn-lg btn-primary btn-block"
      v-on:click.prevent="izmeni"
    >
      Izmeni
    </button>
  </div>
</template>
<script>
export default {
  props: {},
  data() {
    return {
      vozilo: {},
      errors: [],
      carPic: "",
    };
  },
  methods: {
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.carPic = files[0];
    },
    async izmeni() {
      if (this.carPic) {
        await fetch("http://localhost:3000/upload", {
          method: "POST",
          body: this.carPic,
          headers: {
            filename: this.carPic.name,
          },
        });
        this.vozilo.slika =
          "http://localhost:3000/assets/logos/" + this.carPic.name;
      }
      console.log(this.vozilo);
      let request = await fetch("http://localhost:3000/izmeniVozilo", {
        method: "POST",
        body: JSON.stringify(this.vozilo),
      });
      let data = await request.json();
      if (data.msg == "SUCCESS") {
        this.$router.push("/izmenaVozila");
        this.$tostini({
          message: "Success!",
          type: "success",
          duration: 2000,
        });
      }
    },
  },
  async created() {
    let id = await this.$route.params.id;
    let request = await fetch("http://localhost:3000/getVehicle", {
      method: "POST",
      body: JSON.stringify({ id: id }),
    });
    let data = await request.json();
    this.vozilo = data.data;
  },
};
</script>
<style scoped>
div.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.profile {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
button {
  margin-top: 1em;
  margin-bottom: 1em;
}
</style>
