<template>
  <div class="homeWrapper">
    <form class="profile" v-if="currentUser">
      <h2>Ime:</h2>
      <input type="text" name="" class="form-control" v-model="currentUser.ime" v-bind:class="{ 'is-invalid': ImeError }" id="" />
      <h2>Prezime:</h2>
      <input type="text" name="" class="form-control" v-model="currentUser.prezime" v-bind:class="{ 'is-invalid': PrezimeError }" id="" />
      <h2>Pol:</h2>
      <select class="form-select" v-model="currentUser.pol" v-bind:class="{ 'is-invalid': polError }">
        <option value="Muski">Muski</option>
        <option value="Zenski">Zenski</option>
      </select>
      <h2>Datum Rodjenja:</h2>
      <input type="date" class="form-control" name="" v-model="currentUser.datumRodjenja" id="" v-bind:class="{ 'is-invalid': datumRodjenjaError }" />
      <h2>Korisnicko ime:</h2>
      <input type="text" class="form-control" name="" v-model="currentUser.korisnickoIme" v-bind:class="{ 'is-invalid': korisnickoImeError }" id="" />
      <h2>Lozinka:</h2>
      <input type="text" class="form-control" name="" v-model="currentUser.lozinka" v-bind:class="{ 'is-invalid': lozinkaError }" id="" />
    </form>
    <button
      class="btn btn-lg btn-primary btn-block"
      v-on:click.prevent="izmeni"
    >
      Izmeni
    </button>
    <ul id="example-1">
      <li v-for="item in errors" :key="item.message">
        {{ item.message }}
      </li>
    </ul>
  </div>
</template>
<script>
import { store } from "../components/store";
import {
  validateIme,
  validatePrezime,
  validateUsername,
  validatePassword,
} from "../components/validators";
export default {
  props: {},
  data() {
    return {
      currentUser: {},
      korisnickoImeError: false,
      lozinkaError: false,
      errors: [],
      ImeError: "",
      PrezimeError: "",
      polError: "",
      datumRodjenjaError: "",
    };
  },
  methods: {
    validateIme: function () {
      let error = validateIme(this.currentUser.ime);
      if (error.message) {
        this.errors.push(error);
        this.ImeError = true;
        return true;
      }
      this.ImeError = false;
      return false;
    },
    validatePrezime: function () {
      let error = validatePrezime(this.currentUser.prezime);
      if (error.message) {
        this.errors.push(error);
        this.PrezimeError = true;
        return true;
      }
      this.PrezimeError = false;
      return false;
    },
    validatePol: function () {
      if (this.currentUser.pol == "") {
        this.errors.push({ message: "Morate odabrati pol." });
        this.polError = true;
        return true;
      }
      this.polError = false;
      return false;
    },
    validateUsername: function () {
      let error = validateUsername(this.currentUser.korisnickoIme);
      if (error.message) {
        this.errors.push(error);
        this.korisnickoImeError = true;
        return true;
      }
      this.korisnickoImeError = false;
      return false;
    },
    validatePassword: function () {
      let error = validatePassword(this.currentUser.lozinka);
      if (error.message) {
        this.errors.push(error);
        this.lozinkaError = true;
        return true;
      }
      this.lozinkaError = false;
      return false;
    },
    validateForm: function () {
      this.errors = [];
      this.validateUsername();
      this.validatePassword();
      this.validateIme();
      this.validatePrezime();
      this.validatePol();
    },
    async izmeni() {
      this.validateForm();
      if (this.errors.length > 0) {
        return false;
      }
      console.log(this.currentUser);
      let request = await fetch("http://localhost:3000/izmeni", {
        method: "POST",
        body: JSON.stringify(this.currentUser),
      });
      let response = await request.json();
      console.log("primljeno:", response);
      if (response.msg == "SUCCESS") {
        this.$tostini({
          message: "Success!",
          type: "success",
          duration: 2000,
        });
        this.$router.push("/");
      } else {
        this.$tostini({
          message: "Error!",
          type: "error",
          duration: 2000,
        });
        this.$router.push("/");
      }
    },
  },
  created: function () {
    this.currentUser = store.data.user;
  },
  computed: {
    logInData: function () {
      return store.data;
    },
  },
  watch: {
    logInData: {
      handler(newVal) {
        this.currentUser = newVal.user;
      },
      deep: true,
    },
  },
};
</script>
<style scoped>
div.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.profile {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
button {
        margin-top: 1em;
    margin-bottom: 1em;
}
</style>
