<template>
  <div class="homeWrapper">
    <div class="proveriDostupnost">
      <h3>Proveri dostupnost:</h3>
      <label for="">Od</label>
      <input type="date" name="" id="" v-model="pocetak" />
      <label for="">Do</label>
      <input type="date" name="" id="" v-model="kraj" />
      <button class="btn btn-primary" @click="proveri()">Proveri</button>
    </div>
    <div class="vozila">
      <div
        v-for="item in dynamicList"
        v-bind:key="item.id"
        style="width: 18rem"
        class="card item"
      >
        <img class="card-img-top" v-bind:src="item.slika" />
        <div class="card-body">
          <div style="display: flex; justify-content: space-between">
            <h5 class="card-title">{{ item.marka + " " + item.model }}</h5>
          </div>
          <p class="card-text">Opis: {{ item.opis }}</p>
          <p class="card-text">Tip: {{ item.tip }}</p>
          <p class="card-text">Vrsta: {{ item.vrsta }}</p>
          <p class="card-text">Tip Goriva: {{ item.tipGoriva }}</p>
          <p class="card-text">Potrosnja: {{ item.potrosnja }}</p>
          <p class="card-text">Broj Vrata: {{ item.brojVrata }}</p>
          <p class="card-text">Broj Osoba: {{ item.brojOsoba }}</p>
          <h4>CENA PO DANU: {{ item.cena }}€</h4>
          <button
            class="btn btn-primary"
            @click="dodajUkorpu(item.id, item.cena, item.ime, item.slika)"
          >
            Dodaj u korpu
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { store } from "../components/store";
export default {
  props: {},
  data() {
    return {
      vozila: [],
      pocetak: "",
      kraj: "",
    };
  },
  computed: {
    dynamicList() {
      return this.vozila;
    },
  },
  methods: {
    dodajUkorpu(id, cena, ime, slika) {
      if (this.pocetak == "" || this.kraj == "") {
        this.$tostini({
          message: "Stavite datum",
          type: "error",
          duration: 2000,
        });
      } else {
        let brojDana = Math.floor(
          (Date.parse(this.kraj) - Date.parse(this.pocetak)) / 86400000
        );
        let finalCena = brojDana * cena;
        store.data.user.korpa.push({
          idVozila: id,
          dates: { pocetak: this.pocetak, kraj: this.kraj },
          finalCena: finalCena,
        });
        if (store.data.user.cenaKorpe) {
          store.data.user.cenaKorpe += finalCena;
        } else {
          store.data.user.cenaKorpe = finalCena;
        }
        if (store.data.user.tipKupca == "Bronzani") {
          let percent = (3 / 100) * store.data.user.cenaKorpe;
          store.data.user.cenaKorpe = store.data.user.cenaKorpe - percent;
          store.data.user.popust = "3%";
        }
        if (store.data.user.tipKupca == "Srebrni") {
          let percent = (4 / 100) * store.data.user.cenaKorpe;
          store.data.user.cenaKorpe = store.data.user.cenaKorpe - percent;
          store.data.user.popust = "4%";
        }
        if (store.data.user.tipKupca == "Zlatan") {
          let percent = (5 / 100) * store.data.user.cenaKorpe;
          store.data.user.cenaKorpe = store.data.user.cenaKorpe - percent;
          store.data.user.popust = "5%";
        }
        this.$tostini({
          message: "Vozilo za taj termin je dodato u korpu!",
          type: "success",
          duration: 1000,
        });
      }
    },
    async proveri() {
      let call = await fetch("http://localhost:3000/proveriDostupnost", {
        method: "POST",
        body: JSON.stringify({ pocetak: this.pocetak, kraj: this.kraj }),
      });
      let result = await call.json();
      this.vozila = result.data;
      console.log(result.data);
    },
  },
};
</script>
<style scoped>
div.vozila {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
div.proveriDostupnost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
}
</style>
