<template>
  <div class="homeWrapper">
    <div class="wrap" v-for="(item1, i) in porudzbine" :key="item1.id">
      <h2>Id Porudzbine: {{ item1.id }}</h2>
      <h2>Ime kupca: {{ item1.imeKupca }}</h2>
      <h2>Status: {{ item1.status }}</h2>
      <h2 v-show="item1.razlogOdbijanja">
        Razlog odbijanja: {{ item1.razlogOdbijanja }}
      </h2>
      <button
        v-if="item1.status == 'Obrada'"
        class="btn btn-primary"
        @click="promeniStatus(item1.id, i, 'Odobreno',item1.vozila)"
      >
        Odobri
      </button>
      <button
        v-show="item1.status == 'Odobreno'"
        class="btn btn-primary"
        @click="promeniStatus(item1.id, i, 'Preuzeto',item1.vozila)"
      >
        Preuzeto
      </button>
      <br />
      <input
        v-if="item1.status == 'Obrada'"
        type="text"
        name=""
        v-model="form.odbijenoMsgs[item1.id]"
        id=""
        placeholder="Razlog odbijanja"
      />
      <button
        v-if="item1.status == 'Obrada'"
        class="btn btn-primary"
        @click="promeniStatus(item1.id, i, 'Odbijeno',item1.vozila)"
      >
        Odbij
      </button>
      <button
        v-if="item1.status == 'Preuzeto'"
        class="btn btn-primary"
        @click="promeniStatus(item1.id, i, 'Vraceno',item1.vozila)"
      >
        Vraceno
      </button>
      <div class="vozila">
        <div class="card" v-for="item2 in item1.vozila" :key="item2.idVozila">
          <img
            class="card-img-top"
            width="150px"
            v-bind:src="item2.slika"
            alt=""
          />
          <div class="card-body">
            {{ item2.marka }}
            {{ item2.model }}
            Cena:{{ item2.cena }}€<br>
            Datumi najma:<br>{{ item2.dates.pocetak }} <br> {{ item2.dates.kraj }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { store } from "../components/store";
export default {
  props: {},
  data() {
    return {
      porudzbine: [],
      form: {
        odbijenoMsgs: [],
      },
    };
  },
  methods: {
    async promeniStatus(id, i, status,vozila) {
      if (
        status == "Odbijeno" &&
        (this.form.odbijenoMsgs[id] == "" ||
          this.form.odbijenoMsgs[id] == undefined)
      ) {
        this.$tostini({
          message: "Potreban razlog odbijanja!",
          type: "error",
          duration: 2000,
        });
      } else {
        if (status == "Preuzeto") {
          let carIds = [];
          console.log(this.porudzbine, i);
          for (let j = 0; j < this.porudzbine[i].vozila.length; j++) {
            const element = this.porudzbine[i].vozila[j];
            carIds.push(element.id);
          }
          await fetch("http://localhost:3000/promeniStatusVozilima", {
            method: "POST",
            body: JSON.stringify({
              ids: carIds,
              status: "Iznajmljeno",
            }),
          });
        }
        if (status == "Vraceno") {
          let carIds = [];
          console.log(this.porudzbine, i);
          for (let j = 0; j < this.porudzbine[i].vozila.length; j++) {
            const element = this.porudzbine[i].vozila[j];
            carIds.push(element.id);
          }
          await fetch("http://localhost:3000/promeniStatusVozilima", {
            method: "POST",
            body: JSON.stringify({
              ids: carIds,
              status: "Dostupno",
            }),
          });
        }
        await fetch("http://localhost:3000/promeniStatus", {
          method: "POST",
          body: JSON.stringify({
            id: id,
            status: status,
            razlogOdbijanja: this.form.odbijenoMsgs[id],
            vozila: vozila
          }),
        });
        this.porudzbine[i].status = status;
        this.porudzbine[i].razlogOdbijanja = this.form.odbijenoMsgs[id];
      }
    },
  },
  async created() {
    setTimeout(async () => {
      let call1 = await fetch("http://localhost:3000/porudzbine", {
        method: "POST",
        body: JSON.stringify({ id: store.data.user.objekat }),
      });

      let result = await call1.json();
      this.porudzbine = result.data;
      console.log(this.porudzbine);
    }, 100);
  },
};
</script>
<style scoped>
div.card {
  width: 180px;
}
div.card img {
  width: 177px;
}
div.wrap {
  margin-left: 2em;
  margin-top: 2em;
}
div.vozila {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  width: 100vh;
}
</style>
