<template>
  <div class="homeWrapper">
    <h1 v-if="cenaKorpe">
      Ukupna cena: {{ cenaKorpe }} POPUST: {{ popust }}
      <button class="btn btn-primary" @click="iznajmi()">Iznajmi</button>
    </h1>
    <div class="vozila" v-if="vozila.length > 0">
      <div
        v-for="item in vozila"
        v-bind:key="item.id + item.dates.pocetak"
        style="width: 18rem"
        class="card item"
      >
        <img class="card-img-top" v-bind:src="item.slika" />
        <div class="card-body">
          <div style="display: flex; justify-content: space-between">
            <h5 class="card-title">{{ item.marka + " " + item.model }}</h5>
          </div>
          <p class="card-text">Opis: {{ item.opis }}</p>
          <p class="card-text">Tip: {{ item.tip }}</p>
          <p class="card-text">Vrsta: {{ item.vrsta }}</p>
          <p class="card-text">Tip Goriva: {{ item.tipGoriva }}</p>
          <p class="card-text">Potrosnja: {{ item.potrosnja }}</p>
          <p class="card-text">Broj Vrata: {{ item.brojVrata }}</p>
          <p class="card-text">Broj Osoba: {{ item.brojOsoba }}</p>
          <p class="card-text">Cena po danu: {{ item.cena }}</p>
          <h2>Datum najma: {{ item.dates.pocetak }} - {{ item.dates.kraj }}</h2>
          <h3>
            Cena: {{ item.finalCena }}
            <i
              style="cursor: pointer"
              class="bi bi-trash"
              @click="obrisi(item.id, item.dates)"
            ></i>
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { store } from "../components/store";
export default {
  props: {},
  data() {
    return {
      vozila: [],
      cenaKorpe: "",
      popust: "",
    };
  },
  methods: {
    async iznajmi() {
      let objekti = [];
      for (let i = 0; i < this.vozila.length; i++) {
        const element = this.vozila[i];
        if (!objekti.includes(element.objekat)) {
          objekti.push(element.objekat);
        }
      }
      let vozila = [];
      for (let j = 0; j < this.vozila.length; j++) {
        const element2 = this.vozila[j];
        vozila.push({
          dates: element2.dates,
          cena: element2.finalCena,
          marka: element2.marka,
          model: element2.model,
          slika: element2.slika,
          id: element2.id,
        });
      }
      console.log(store.data.user.id);
      let obj = {
        id: crypto.randomUUID(),
        vozila: vozila,
        objekti: objekti,
        datumNajma: new Date().toLocaleString(),
        cena: this.cenaKorpe,
        imeKupca: store.data.user.ime + " " + store.data.user.prezime,
        idKupca: store.data.user.id,
        status: "Obrada",
      };
      let call = await fetch("http://localhost:3000/dodajPorudzbinu", {
        method: "POST",
        body: JSON.stringify(obj),
      });
      let result = await call.json();
      console.log(result);
      store.data.user.tipKupca = result.tipKupca;
      store.data.user.cenaKorpe = 0;
      store.data.user.korpa = [];
      this.$router.push("/");
      this.$tostini({
        message: "Porudzbina poslata!",
        type: "success",
        duration: 2000,
      });
    },
    obrisi(id, dates) {
      for (let i = 0; i < store.data.user.korpa.length; i++) {
        const element = store.data.user.korpa[i];
        if (element.idVozila == id && element.dates == dates) {
          console.log(element);
          store.data.user.korpa.splice(i, 1);
          store.data.user.cenaKorpe -= element.finalCena;
          this.cenaKorpe -= element.finalCena;
          this.vozila.splice(i, 1);
          /*           if (this.vozila.length == 0) {
            this.$router.push("/");
          } */
        }
      }
    },
  },
  async created() {
    let idList = [];
    if (store.data.user.korpa) {
      this.cenaKorpe = store.data.user.cenaKorpe;
      this.popust = store.data.user.popust;
      for (let i = 0; i < store.data.user.korpa.length; i++) {
        const element = store.data.user.korpa[i];
        idList.push(element.idVozila);
      }
      let call = await fetch("http://localhost:3000/getVehicles", {
        method: "POST",
        body: JSON.stringify({ list: idList }),
      });
      let result = await call.json();
      this.vozila = result.data;
      for (let j = 0; j < this.vozila.length; j++) {
        var element = this.vozila[j];
        element.dates = store.data.user.korpa[j].dates;
        element.finalCena = store.data.user.korpa[j].finalCena;
      }
    }
  },
};
</script>
<style scoped>
div.vozila {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
</style>
