<template>
  <div class="homeWrapper">
    <div v-for="(item1,index) in porudzbine" :key="item1.id">
      <h2>Id Porudzbine: {{ item1.id }}</h2>
      <h2>Status: {{ item1.status }}</h2>
      <h2>Ukupna cena: {{ item1.cena }}€</h2>
      <button v-if="item1.status == 'Obrada'" @click="otkazi(item1.id,index,item1.vozila)" class="btn btn-primary">Otkazi</button>
      <router-link v-bind:to="'/objekat/' + item1.objekti[0]"
        ><button class="btn btn-primary">
          Ostavi Komentar i oceni
        </button></router-link
      >
      <div class="vozila">
        <div class="card" v-for="item2 in item1.vozila" :key="item2.idVozila">
          <img
            class="card-img-top"
            width="150px"
            v-bind:src="item2.slika"
            alt=""
          />
          <div class="card-body">
            {{ item2.marka }}
            {{ item2.model }}
            Cena:{{ item2.cena }}€<br />
            Datumi najma:<br />{{ item2.dates.pocetak }} <br />
            {{ item2.dates.kraj }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { store } from "../components/store";
export default {
  props: {},
  data() {
    return {
      porudzbine: [],
    };
  },
  methods: {
    async otkazi(id,index,vozila){
      let call1 = await fetch("http://localhost:3000/otkaziPorudzbinu", {
        method: "POST",
        body: JSON.stringify({ id: id,userId:store.data.user.id,vozila:vozila }),
      });
      let result = await call1.json();
      this.porudzbine[index].status = "Otkazana"
    }
  },
  async created() {
    setTimeout(async () => {
      let id = store.data.user.id;
      let call1 = await fetch("http://localhost:3000/mojePorudzbine", {
        method: "POST",
        body: JSON.stringify({ id: id }),
      });
      let result = await call1.json();
      this.porudzbine = result.data;
    }, 100);
  },
};
</script>
<style scoped>
div.homeWrapper {
  margin: 3em;
}
div.card {
  width: 180px;
}
div.card img {
  width: 177px;
}
div.wrap {
  margin-left: 2em;
  margin-top: 2em;
}
div.vozila {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  width: 100vh;
}
</style>
