<template>
  <div class="homeWrapper">
    <div class="object" v-if="objekat">
      <div class="info">
        <img v-bind:src="objekat.logo" alt="" />
        <h1>{{ objekat.naziv }}</h1>
        <h1>{{ objekat.status }}</h1>
        <h1 v-if="objekat.radnoVreme">
          {{
            "Radno Vreme: " +
            objekat.radnoVreme.pocetak +
            " - " +
            objekat.radnoVreme.kraj
          }}
        </h1>
        <h1>Prosecna ocena: {{ objekat.ocena }}</h1>
        <h1 v-if="objekat.address">
          {{ objekat.address.city + ", " + objekat.address.country }}
        </h1>
      </div>
      <div class="map">
        <div ref="map-root" style="width: 400px; height: 400px"></div>
        <img
          style="width: 20px; height: 30px"
          src="../assets/marker.png"
          id="marker"
          alt=""
        />
      </div>
    </div>
    <h3 class="komNaslov">Komentari:</h3>
    <div class="komentari" v-if="komentari.length > 0">
      <div v-for="item in komentari" :key="item.id">
        <div
          v-if="
            item.status == 'Odobren' ||
            currentUser.uloga == 'Menadzer' ||
            currentUser.uloga == 'Administrator'
          "
        >
          <div class="komentar card">
            <div class="card-body">
              <h5 class="card-title">{{ item.kupacIme }}</h5>
              <p class="card-text">{{ item.komentar }}</p>
              <h4>{{ item.ocena }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="noComments" v-if="komentari.length == 0">
      Trenutno nema komentara
    </h3>
    <div v-show="allowComment" class="inputs">
      <h4>Ostavi komentar:</h4>
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        v-model="komentar"
        placeholder="Ostavi komentar"
      />
      <input
        type="number"
        class="form-control"
        v-model="komOcena"
        name=""
        min="1"
        max="5"
        id=""
        placeholder="Oceni od 1 do 5"
      />
      <button class="btn btn-primary" v-on:click="sendComment()">
        Posalji
      </button>
    </div>
    <h1 style="margin-top: 1em; margin-left: 8em">Vozila:</h1>
    <h1 v-if="vozila.length == 0" class="nemaVozila">
      Trenutno nema vozila u ovom objektu.
    </h1>

    <div class="vozila" v-if="vozila.length > 0">
      <div
        v-for="item in vozila"
        v-bind:key="item.id"
        style="width: 18rem"
        class="card item"
      >
        <img class="card-img-top" v-bind:src="item.slika" />
        <div class="card-body">
          <div style="display: flex; justify-content: space-between">
            <h5 class="card-title">{{ item.marka + " " + item.model }}</h5>
          </div>
          <p class="card-text">Opis: {{ item.opis }}</p>
          <p class="card-text">Tip: {{ item.tip }}</p>
          <p class="card-text">Vrsta: {{ item.vrsta }}</p>
          <p class="card-text">Tip Goriva: {{ item.tipGoriva }}</p>
          <p class="card-text">Potrosnja: {{ item.potrosnja }}</p>
          <p class="card-text">Broj Vrata: {{ item.brojVrata }}</p>
          <p class="card-text">Broj Osoba: {{ item.brojOsoba }}</p>
          <p class="card-text">Cena: {{ item.cena }}€</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import View from "ol/View";
import Map from "ol/Map";
import TileLayer from "ol/layer/Tile";
import OSM from "ol/source/OSM";
import Overlay from "ol/Overlay";
import { fromLonLat } from "ol/proj.js";
import { store } from "../components/store";
export default {
  props: {},
  data() {
    return {
      objekat: {},
      map: null,
      pos: null,
      marker: null,
      vozila: [],
      komentari: [],
      komentar: "",
      komOcena: "",
      dates: {},
      allowComment: false,
      currentUser: {},
    };
  },
  mounted() {
    this.pos = fromLonLat([19.8299039, 45.2412775]);
    this.marker = new Overlay({
      position: this.pos,
      positioning: "bottom-center",
      element: document.getElementById("marker"),
      stopEvent: false,
    });

    this.map = new Map({
      target: this.$refs["map-root"],
      layers: [
        new TileLayer({
          source: new OSM(),
        }),
      ],

      overlays: [this.marker],

      view: new View({
        zoom: 13,
        center: this.pos,
        constrainResolution: true,
        minZoom: 1,
      }),
    });
  },
  methods: {
    async getComments() {
      let request3 = await fetch("http://localhost:3000/getComments", {
        method: "POST",
        body: JSON.stringify({ id: this.$route.params.id }),
      });
      let data3 = await request3.json();
      this.$nextTick(() => {
        this.komentari = data3.results;
      });
    },
    async sendComment() {
      if (this.komOcena > 5 || this.komOcena < 1) {
        this.$tostini({
          message: "Ocena mora biti izmedju 1 i 5!",
          type: "error",
          duration: 2000,
        });
      } else {
        let request = await fetch("http://localhost:3000/dodajKomentar", {
          method: "POST",
          body: JSON.stringify({
            id: crypto.randomUUID(),
            objekat: this.$route.params.id,
            kupacId: store.data.user.id,
            kupacIme: store.data.user.ime,
            komentar: this.komentar,
            ocena: this.komOcena,
            status: "Na cekanju",
          }),
        });
        let data = await request.json();
        if (data.msg == "SUCCESS") {
          this.komentar = "";
          this.komOcena = 0;
          this.$tostini({
            message: "Komentar ce se postaviti nakon odobrenja od menadzera!",
            type: "success",
            duration: 2000,
          });
        }
      }
    },
  },
  async created() {
    let request = await fetch("http://localhost:3000/getObject", {
      method: "POST",
      body: JSON.stringify({ id: this.$route.params.id }),
    });
    let data = await request.json();
    this.objekat = data.data;
    this.currentUser = store.data.user;
    console.log(store.data.user.canCommentOn);
    this.objekat.lokacija = fromLonLat(this.objekat.lokacija);
    this.marker.setPosition(this.objekat.lokacija);
    this.map.getView().setCenter(this.objekat.lokacija);
    let request2 = await fetch("http://localhost:3000/getVehicles", {
      method: "POST",
      body: JSON.stringify({ list: this.objekat.vozilaUponudi }),
    });
    let data2 = await request2.json();
    this.vozila = data2.data;
    this.getComments();

    if (store.data.user.canComment.includes(this.objekat.id)) {
      this.allowComment = true;
    }
  },
};
</script>
<style scoped>
@import url("../../node_modules/ol/ol.css");

div.object {
  display: flex;
  justify-content: center;
}
div.info {
  margin: 1em;
}
div.map {
  display: flex;
  align-items: center;
}
div.info img {
  width: 500px;
  object-fit: contain;
}
div.vozila {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3em;
  gap: 1em;
  margin-bottom: 3em;
}
p.card-text {
  margin-bottom: 0.5em;
}
h1.nemaVozila {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 2em;
}
div.inputs input {
  width: 200px;
}
div.komentari {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  gap: 3em;
}
div.inputs {
  display: flex;
  justify-content: center;
  gap: 3em;
}
h3.noComments {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
h3.komNaslov {
  margin-left: 23%;
  margin-top: 1em;
}
</style>
