<template>
  <div class="homeWrapper">
    <ul class="filters">
      <input
        v-model="filters.naziv"
        type="text"
        name=""
        class="form-control"
        id=""
        placeholder="Naziv objekta"
      />
      <input
        v-model="filters.lokacija"
        type="text"
        name=""
        class="form-control"
        id=""
        placeholder="Lokacija objekta"
      />
      <input
        v-model="filters.tipVozila"
        type="text"
        name=""
        class="form-control"
        id=""
        placeholder="Tip vozila"
      />
      <input
        v-model="filters.ocena"
        type="number"
        name=""
        class="form-control"
        id=""
        placeholder="Prosecna ocena"
      />
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          v-model="filters.samoOtvoreni"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Samo otvoreni
        </label>
      </div>
      <select
        class="form-select"
        aria-label="Default select example"
        v-model="vrstaVozila"
      >
        <option selected value="">Vrsta vozila</option>
        <option value="Manuelni">Manuelni</option>
        <option value="Automatik">Automatik</option>
      </select>
      <select
        class="form-select"
        aria-label="Default select example"
        v-model="tipGoriva"
      >
        <option selected value="">Tip goriva</option>
        <option value="Dizel">Dizel</option>
        <option value="Benzin">Benzin</option>
        <option value="Hibrid">Hibrid</option>
        <option value="Elektricni">Elektricni</option>
      </select>
      <select
        class="form-select"
        aria-label="Default select example"
        v-model="sorting"
      >
        <option selected value="">Sortiranje</option>
        <option value="nazivRastuce">Naziv rastuce</option>
        <option value="nazivOpadajuce">Naziv opadajuce</option>
        <option value="lokacijaRastuce">Lokacija rastuce</option>
        <option value="lokacijaOpadajuce">Lokacija opadajuce</option>
        <option value="ocenaRastuce">Prosecna ocena rastuce</option>
        <option value="ocenaOpadajuce">Prosecna ocena opadajuce</option>
      </select>
      <a class="btn btn-primary" v-on:click="search">Trazi</a>
    </ul>
    <div class="items">
      <router-link
        v-bind:to="'/objekat/' + item.id"
        v-for="item in objekti"
        :key="item.id"
      >
        <div v-if="item" style="width: 18rem" class="card item">
          <img class="card-img-top" v-bind:src="item.logo" />
          <div class="card-body">
            <div style="display: flex; justify-content: space-between">
              <h5 class="card-title">{{ item.naziv }}</h5>
              <div>
                {{ item.ocena
                }}<i style="margin-left: 0.5em" class="bi bi-star"></i>
              </div>
            </div>
            <h5>{{ item.status }}</h5>
            <p class="card-text">
              {{ item.address.city + ", " + item.address.country }}
            </p>

            <a href="#" class="btn btn-primary">Pogledaj vozila</a>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {},
  data() {
    return {
      objekti: [],
      filters: {},
      vrstaVozila: "",
      tipGoriva: "",
      sorting: "",
    };
  },
  methods: {
    async search() {
      this.filters.vrstaVozila = this.vrstaVozila;
      this.filters.tipGoriva = this.tipGoriva;
      this.filters.sortiranje = this.sorting;
      let call1 = await fetch("http://localhost:3000/search", {
        method: "POST",
        body: JSON.stringify(this.filters),
      });
      let result = await call1.json();
      this.objekti = result;
      console.log(this.objekti);
    },
  },
  async created() {
    let call1 = await fetch("http://localhost:3000/");
    let result = await call1.json();
    this.objekti = result;
  },
};
</script>
<style scoped>
div.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 1em;
}
div.item {
  cursor: pointer;
  transition: all 1s;
}
div.item:hover {
  background-color: lightblue;
}
img {
  object-fit: contain;
  height: 286px;
  width: 100%;
}
ul.filters {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}
</style>
