<template>
  <div class="homeWrapper">
    <form class="form-signin" autocomplete="off">
      <i class="bi bi-car-front-fill p-2 fs-1 me-2 ms-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Prijava</h1>
      <input
        v-model="korisnickoIme"
        type="text"
        id="inputText"
        class="form-control"
        placeholder="Korisnicko ime"
        required=""
        autofocus="true"
        autocomplete="off"
        v-bind:class="{ 'is-invalid': korisnickoImeError }"
      />
      <input
        v-model="lozinka"
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Lozinka"
        required=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': lozinkaError }"
      />
      <button
        class="btn btn-lg btn-primary btn-block"
        v-on:click.prevent="login"
      >
        Prijavi se
      </button>
      <p class="mt-4 mb-3 text-muted">© 2023</p>
    </form>
    <ul id="example-1">
      <li v-for="item in errors" :key="item.message">
        {{ item.message }}
      </li>
    </ul>
  </div>
</template>
<script>
import { store } from "../components/store";
import { validateUsername, validatePassword } from "../components/validators";
export default {
  props: {},
  data() {
    return {
      korisnickoIme: "",
      korisnickoImeError: false,
      lozinka: "",
      lozinkaError: false,
      errors: [],
    };
  },
  methods: {
    validateUsername: function () {
      let error = validateUsername(this.korisnickoIme);
      if (error.message) {
        this.errors.push(error);
        this.korisnickoImeError = true;
        return true;
      }
      this.korisnickoImeError = false;
      return false;
    },
    validatePassword: function () {
      let error = validatePassword(this.lozinka);
      if (error.message) {
        this.errors.push(error);
        this.lozinkaError = true;
        return true;
      }
      this.lozinkaError = false;
      return false;
    },
    validateForm: function () {
      this.errors = [];
      this.validateUsername();
      this.validatePassword();
    },
    login: function () {
      this.validateForm();
      if (this.errors.length > 0) {
        return false;
      }
      let userInfo = {
        korisnickoIme: this.korisnickoIme,
        lozinka: this.lozinka,
      };
      fetch("http://localhost:3000/login", {
        method: "POST",
        body: JSON.stringify(userInfo),
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          if (data.msg == "SUCCESS") {
            if (data.data.blokiran) {
              this.$tostini({
                message: "Vas nalog je blokiran",
                type: "error",
                duration: 3000,
              });
            } else {
              store.data = {
                isLoggedIn: true,
                user: data.data,
              };
              localStorage.setItem("user", JSON.stringify(data.data));
              this.$tostini({
                message: "Uspesno ste se ulogovali!",
                type: "success",
                duration: 3000,
              });
              this.$router.push("/");
            }
          } else {
            this.$tostini({
              message: "Greska u prijavi!<br/> Pokusajte ponovo.",
              type: "error",
              duration: 3000,
              html: true,
            });
          }
        });
    },
  },
};
</script>
<style scoped>
div.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
button {
  width: 100%;
}
.form-signin .form-control:focus {
  z-index: 2;
  position: relative;
}
label.checkbox {
  cursor: pointer;
}
</style>
