<template>
  <div class="homeWrapper">
    <div class="profile" v-if="currentUser">
      <h1>Ime: {{ currentUser.ime }}</h1>
      <h1>Prezime: {{ currentUser.prezime }}</h1>
      <h1>Pol: {{ currentUser.pol }}</h1>
      <h1>Datum rodjenja: {{ currentUser.datumRodjenja }}</h1>
      <h1 v-if="currentUser.uloga == 'Kupac'">Tip kupca: {{ currentUser.tipKupca }}</h1>
      <router-link to="/izmeniProfil">
          <button
      class="btn btn-lg btn-primary btn-block"
    ><i class="bi bi-pencil-square"></i>
      Izmeni
    </button>
      </router-link>
     
    </div>
  </div>
</template>
<script>
import { store } from "../components/store";

export default {
  props: {},
  data() {
    return {
      currentUser: {},
    };
  },
  methods: {},
  created: function () {
    this.currentUser = store.data.user;
  },
  computed: {
    logInData: function () {
      return store.data;
    },
  },
  watch: {
    logInData: {
      handler(newVal) {
        this.currentUser = newVal.user;
      },
      deep: true,
    },
  },
};
</script>
<style scoped>
div.homeWrapper {
  margin-left: 280px;
      display: flex;
    align-items: center;
}
</style>
