<template>
  <div class="homeWrapper">
    <div class="komentar" v-for="(komentar,i) in komentari" :key="komentar.id">
      <h3>Koristnik:{{ komentar.kupacIme }}</h3>
      <h4>Komentar:{{ komentar.komentar }}</h4>
      <h4>Ocena:{{ komentar.ocena }}</h4>
      <button
        class="btn btn-primary"
        @click="changeStatus('Odobren', komentar.id, komentar.objekat,i)"
      >
        Odobri
      </button>
      <button
        class="btn btn-primary"
        @click="changeStatus('Odbijen', komentar.id, komentar.objekat,i)"
      >
        Odbij
      </button>
    </div>
  </div>
</template>
<script>
import { store } from "../components/store";
export default {
  props: {},
  data() {
    return {
      komentari: [],
    };
  },
  methods: {
    async changeStatus(status, id, objId, i) {
      let request3 = await fetch("http://localhost:3000/changeCommentStatus", {
        method: "POST",
        body: JSON.stringify({
          id: id,
          status: status,
          objectId: objId,
        }),
      });
      let data3 = await request3.json();
      this.komentari.splice(i,1)
    },
  },
  async created() {
    setTimeout(async () => {
      let request3 = await fetch("http://localhost:3000/komentariNaCekanju", {
        method: "POST",
        body: JSON.stringify({
          id: store.data.user.objekat,
          status: "Na cekanju",
        }),
      });
      let data3 = await request3.json();
      this.$nextTick(() => {
        this.komentari = data3.results;
      });
    }, 200);
  },
};
</script>
<style scoped>
</style>
