<template>
  <div class="homeWrapper">
    <div class="form-check check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="defaultCheck1"
        v-model="sumnjivi"
        @click="getUsers()"
      />
      <label class="form-check-label" for="defaultCheck1">
        Samo sumnjive
      </label>
    </div>
    <div class="users">
      <div class="user card" v-for="user in users" :key="user.id">
        <div class="card-body">
          <h5>Korisnicko Ime:<br />{{ user.korisnickoIme }}</h5>
          <h5>Ime:<br />{{ user.ime }}</h5>
          <h5>Prezime:<br />{{ user.prezime }}</h5>
          <h5>Pol:<br />{{ user.pol }}</h5>
          <h5>Tip kupca:<br />{{user.tipKupca}}</h5>
          <h5>Broj bodova:<br />{{user.brojBodova}}</h5>
          <h5 v-show="sumnjivi">
            Broj Otkazivanja:<br />{{ user.brojOtkazivanja }}
          </h5>
          <button
            v-show="!user.blokiran"
            class="btn btn-primary"
            @click="blokiraj(user.id, true)"
          >
            Blokiraj
          </button>
          <button
            v-show="user.blokiran"
            class="btn btn-primary"
            @click="blokiraj(user.id, false)"
          >
            Odblokiraj
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {},
  data() {
    return {
      users: [],
      sumnjivi: false,
    };
  },
  methods: {
    async getUsers() {
      let call = await fetch("http://localhost:3000/getUsers", {
        method: "POST",
        body: JSON.stringify({ sumnjivi: this.sumnjivi }),
      });
      let result = await call.json();
      this.users = result.data;
    },
    async blokiraj(id, status) {
      let call = await fetch("http://localhost:3000/blockUser", {
        method: "POST",
        body: JSON.stringify({ id: id, status: status }),
      });
      let result = await call.json();
      this.users = result.data;
    },
  },
  async created() {
    this.getUsers();
  },
};
</script>
<style scoped>
div.homeWrapper {
  margin: 1em;
}
div.check {
    margin-left: 2em;

}
div.users {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
div.card {
  width: fit-content;
  height: fit-content;
}
</style>
