<template>
  <div class="homeWrapper">
    <form class="form-signin" autocomplete="off">
      <i class="bi bi-car-front-fill p-2 fs-1 me-2 ms-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>
      <input
        v-model="korisnickoIme"
        type="text"
        id="korisnickoIme"
        class="form-control"
        placeholder="Korisnicko ime"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': korisnickoImeError }"
      />
      <input
        v-model="lozinka"
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Lozinka"
        required=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': lozinkaError }"
      />
      <input
        v-model="lozinka2"
        type="password"
        id="inputPassword2"
        class="form-control"
        placeholder="Potvrdi lozinku"
        required=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': lozinka2Error }"
      />
      <input
        v-model="ime"
        type="text"
        id="ime"
        class="form-control"
        placeholder="Ime"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': ImeError }"
      />
      <input
        v-model="prezime"
        type="text"
        id="prezime"
        class="form-control"
        placeholder="Prezime"
        required=""
        autofocus=""
        autocomplete="off"
        v-bind:class="{ 'is-invalid': PrezimeError }"
      />
      <select
        class="form-select"
        v-model="pol"
        v-bind:class="{ 'is-invalid': polError }"
      >
        <option value="" selected>Pol</option>
        <option value="Muski">Muski</option>
        <option value="Zenski">Zenski</option>
      </select>
      <input class="datepicker" v-model="datumRodjenja" type="date" />
      <button
        class="btn btn-lg btn-primary btn-block"
        v-on:click.prevent="register"
      >
        Registruj se
      </button>
      <p class="mt-4 mb-3 text-muted">© 2023</p>
    </form>
    <ul id="example-1">
      <li v-for="item in errors" :key="item.message">
        {{ item.message }}
      </li>
    </ul>
  </div>
</template>
<script>
import { store } from "../components/store";
import {
  validateIme,
  validatePrezime,
  validateUsername,
  validatePassword,
} from "../components/validators";
export default {
  props: {},
  data() {
    return {
      korisnickoIme: "",
      korisnickoImeError: false,
      lozinka: "",
      lozinka2: "",
      lozinkaError: false,
      lozinka2Error: false,
      errors: [],
      ime: "",
      ImeError: "",
      prezime: "",
      PrezimeError: "",
      pol: "",
      polError: "",
      datumRodjenja: "2023-01-01",
      datumRodjenjaError: "",
    };
  },
  methods: {
    validateIme: function () {
      let error = validateIme(this.ime);
      if (error.message) {
        this.errors.push(error);
        this.ImeError = true;
        return true;
      }
      this.ImeError = false;
      return false;
    },
    validatePrezime: function () {
      let error = validatePrezime(this.prezime);
      if (error.message) {
        this.errors.push(error);
        this.PrezimeError = true;
        return true;
      }
      this.PrezimeError = false;
      return false;
    },
    validatePol: function () {
      if (this.pol == "") {
        this.errors.push({ message: "Morate odabrati pol." });
        this.polError = true;
        return true;
      }
      this.polError = false;
      return false;
    },
    validateUsername: function () {
      let error = validateUsername(this.korisnickoIme);
      if (error.message) {
        this.errors.push(error);
        this.korisnickoImeError = true;
        return true;
      }
      this.korisnickoImeError = false;
      return false;
    },
    validatePassword: function () {
      let error = validatePassword(this.lozinka);
      if (error.message) {
        this.errors.push(error);
        this.lozinkaError = true;
        return true;
      }
      this.lozinkaError = false;
      return false;
    },
    validatePassword2: function () {
      if (this.lozinka2 !== this.lozinka) {
        this.errors.push({ message: "Potvrda lozinke nije dobra." });
        this.lozinka2Error = true;
        return false;
      }
      this.lozinka2Error = false;
      return true;
    },
    validateForm: function () {
      this.errors = [];
      this.validateUsername();
      this.validatePassword();
      this.validatePassword2();
      this.validateIme();
      this.validatePrezime();
      this.validatePol();
    },
    register: function () {
      this.validateForm();
      if (this.errors.length > 0) {
        return false;
      }
      let userInfo = {
        id: crypto.randomUUID(),
        korisnickoIme: this.korisnickoIme,
        lozinka: this.lozinka,
        ime: this.ime,
        prezime: this.prezime,
        pol: this.pol,
        datumRodjenja: this.datumRodjenja,
        uloga: "Kupac",
        brojBodova: 0,
        tipKupca: "Obican",
        canComment: [],
        korpa: [],
        brojOtkazivanja: 0,
        blokiran: false,
      };
      fetch("http://localhost:3000/signup", {
        method: "POST",
        body: JSON.stringify(userInfo),
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.loginMsg = data.msg;
          if (this.loginMsg == "SUCCESS") {
            store.data = {
              isLoggedIn: true,
              user: data.data,
            };
            this.$tostini({
              message: "Success!",
              type: "success",
              duration: 2000,
            });
            this.$router.push("/");
          }
        });
    },
  },
};
</script>
<style scoped>
div.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
button {
  width: 100%;
}
.form-signin .form-control:focus {
  z-index: 2;
  position: relative;
}
label.checkbox {
  cursor: pointer;
}
input.datepicker {
  width: 100%;
}
</style>
